In [ ]:
from datascience import *

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture slides at hand so that you can go over the discussion along with the code. Thank you!

## Python Expressions ##

In [ ]:
2 + 6

In [ ]:
2 * 6

In [ ]:
2 / 6

In [ ]:
2 * 6 + 2 * 4

In [ ]:
(2 * 6) + (2 * 4)

In [ ]:
2 * (6 + 4)

In [ ]:
# 2 * 2 * 2
2 ** 3

## Names ##

In [ ]:
a = 6

In [ ]:
a

In [ ]:
b = 4

In [ ]:
b

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
length = 6

In [ ]:
width = 4

In [ ]:
rectangle_area = length * width

In [ ]:
rectangle_area

In [ ]:
width = 5

In [ ]:
width

In [ ]:
rectangle_area

In [ ]:
rectangle_area = length * width

In [ ]:
rectangle_area

## Why Names? ##

In [ ]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
ny_hourly_minimum_wage = 11.80

In [ ]:
monthly_wages = hours_per_week * ny_hourly_minimum_wage
monthly_wages

In [ ]:
yearly_wages = hours_per_year * ny_hourly_minimum_wage
yearly_wages

In [ ]:
40 * 12.00

In [ ]:
40 * 52 * 12.00

## Functions ##

In [ ]:
abs(-5)

In [ ]:
abs(length - width)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

## Tables ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Color')

In [ ]:
cones.drop('Color')

In [ ]:
cones

In [ ]:
cones_no_color = cones.drop('Color')

In [ ]:
cones_no_color

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

In [ ]:
# This table can be found online: 
# https://www.statcrunch.com/app/index.php?dataid=1843341

# NBA players, 2015-2016 season
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
nba.where('TEAM', 'Golden State Warriors').show()

In [ ]:
nba.where('PLAYER', 'Stephen Curry')

In [ ]:
nba.where('POSITION', 'PG').sort('SALARY', descending=True).show(15)