In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(8)

## Reading a Table from a File  ##

In [ ]:
minard = Table.read_table('minard.csv')
minard

In [ ]:
minard.select('City')

In [ ]:
minard.column('City')

In [ ]:
minard.column('Survivors')

In [ ]:
initial_size = minard.column('Survivors').item(0)
initial_size

In [ ]:
minard.column('Survivors') / initial_size

In [ ]:
minard = minard.with_column(
    'Pct alive', 
    minard.column('Survivors') / initial_size)
minard

In [ ]:
minard.set_format('Pct alive', PercentFormatter)

In [ ]:
minard.column('Pct alive')

## Creating a Table from Scratch ##

In [ ]:
dorm_names = make_array('Strong', 'Raymond', 'Davison', 'Noyes')
dorm_names

In [ ]:
dorms = Table().with_column('Name', dorm_names)
dorms

In [ ]:
dorms.with_column('Year Built', make_array(1893, 1897, 1902, 1958))

In [ ]:
dorms

In [ ]:
dorms = dorms.with_column('Year Built', make_array(1893, 1897, 1902, 1958))
dorms

In [ ]:
dorms.labels

In [ ]:
dorms.num_columns

In [ ]:
dorms.num_rows

## Selecting data in a column ##

In [ ]:
movies = Table.read_table('movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
gross_in_dollars = movies.column('Total Gross') * 1e6
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')

In [ ]:
movies = movies.with_column('Tickets sold', tix_sold)

In [ ]:
movies.show(4)

In [ ]:
movies.set_format('Tickets sold', NumberFormatter)

In [ ]:
movies.plot('Year', 'Tickets sold')

In [ ]:
movies.where('Year', are.between(2000, 2005))

In [ ]:
movies.where('Year', are.equal_to(2002))

In [ ]:
movies.where('Year', 2002)

In [ ]:
movies.where('#1 Movie', are.containing('Harry Potter'))

In [ ]:
movies.take(np.arange(2, 5))